services:
  nginx-test:
    image: docker.io/albaz64/nginx:1.29.4-x86-64-v3
    container_name: nginx-test
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./nginx.conf:/etc/nginx/conf/nginx.conf:ro
      #- ./nginx/conf/cert/:/etc/nginx/conf/cert:ro
      # - /srv/www/:/etc/nginx/html
      - ./logs:/etc/nginx/logs
      # copy your conf here
      # - ./nginx/swap:/etc/nginx/swap
    # environment:
    #   - TZ=Asia/Shanghai
    restart: "no"
    # ngx_quic_bpf_module need privileged true
    # privileged: true
    network_mode: host
